{%extends "base.html.twig" %}
{% set active_page = 'app_projects' %}
{% block body %}
<div class="page-header">
    <h1>Projetos</h1>
</div>
<project-list></project-list>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@AppBundle/Resources/public/js/*/*.module.js'
        '@AppBundle/Resources/public/js/*/*.component.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@AppBundle/Resources/public/js/project-list/project-list.template.html' output='js/project-list/project-list.template.html' %}
    {% endjavascripts %}
{% endblock %}